body{
    font-family: 'Titillium Web', sans-serif;
}
.navbar{
    background-color: #ffffff;
    height: 150px;
    min-height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}
.nav-link{
    color: #1a1a1a;
}
.nav-link:hover{
    color: #1a1a1a;
}
.logo-brand{
    min-width: 160px;
    max-height: 180px;
}