body{
    font-family: 'Titillium Web', sans-serif;
}
section{
    padding:120px 0;
}
h1{
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
}
h2{
    font-size: 48px;
    margin-bottom: 30px;
}
p{
    font-size: 18px;
    color: #999999;
    line-height: 1.8;
    margin-bottom: 0;
}

.topmargin-xs{
    margin-top: 15px;
}
.topmargin-sm{
    margin-top: 30px;
}
.topmargin-lg{
    margin-top: 60px;
}
.btn{
    font-size: 18px;
    padding: 15px 25px;
    min-width: 160px;
    border-radius: 5px;
    display: inline-block;
}
.btn-light{
    background-color: #ffffff;
    color: #1a1a1a;
    border: 2px solid #ffffff;
}

.navbar{
    background-color: #ffffff;
    min-height: 80px;
    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}
.nav-link{
    color: #1a1a1a;
    font-size: 18px;
}
.nav-link:hover{
    color: #1a1a1a;
}
.logo-brand{
    min-width: 160px;
    max-height: 160px;
}
.navbar-toggler{
    font-size: 40px;
}
.navbar-toggler:focus{
    outline: none;
}
#hero{
    background-image: url('cover2.jpg');
    background-size: cover;
    min-height: 700px;
    padding-top: 150px;/*modificado*/
    color: #ffffff;   
}
#hero p{
    color: #ffffff;
}
.icon-btn{
    font-size: 12px;
}
.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.portfolio-container{
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.portfolio-details{
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}